
PINECONE_API_KEY=pcsk_5ow6kH_JvuNVHXzWvbQ4UuTog1hZPqGq8MGmrCDktGs3DJ3Sa8w65EeCy1jVaZCs2UzKgG
PINECONE_INDEX_NAME=ragindexkgb
PINECONE_CLOUD=aws
PINECONE_REGION=us-east-1

NEO4J_URI=neo4j+ssc://90e25eb3.databases.neo4j.io
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=9-nlEJLgU_2a722UpALxk55QVlC6irV7oPW3Ys2DDjg
NEO4J_DATABASE=neo4j

LLM_MODEL=claude-sonnet-4-6
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2