fastapi
uvicorn
python-dotenv
python-multipart
pydantic-settings

langchain
langchain-openai
langchain-pinecone
langchain-neo4j
langchain-community
langchain-experimental

pinecone
neo4j

pypdf
python-docx

langchain-anthropic
langchain-huggingface
sentence-transformers